<div *ngIf="_pageCount > 1" class="row">
    <div class="col-md-12 text-center">
        <ul class="pagination">
            <li><a (click)="changePage(1)">&laquo;</a></li>
            <li><a (click)="changePage(_currPage - 1)">&#10094;</a></li>
            <li *ngFor="let page of pageList" [class.active]="_currPage == page">
                <a id="changePage{{page}}" (click)="changePage(page)">{{page}}</a>
            </li>
            <li><a (click)="changePage(_currPage + 1)">&#10095;</a></li>
            <li><a (click)="changePage(_pageCount)">&raquo;</a></li>
        </ul>
    </div>
</div>
