#loading i {
    display: inline-block;
    font-size: 26px;
    color: black;
    -webkit-animation: spin 1.75s infinite linear;
    -moz-animation: spin 1.75s infinite linear;
    -ms-animation: spin 1.75s infinite linear;
    -o-animation: spin 1.75s infinite linear;
    animation: spin 1.75s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}